<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="img/fav.png">
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">      
      {{>header}}
      <img class="portrait" src="{{imageSrc}}" alt="{{altText}}" />
    </div>
    {{>footer}}
  </body>
</html>
